.layout-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px red;
}


.body-container {
  display: flex;
  gap: 1rem;
  border: solid 1px red;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh-64px);
}
.list-menu-container {
  height: 35vh;
  background-color: black;
}
.btn-create-container {
  height: 50vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
