:root {
  --primary-blue-grey: #183650;
  --primary-orange:#e89759;
  --primary-light-grey:#f0f0f0;
  --primary-dark-grey:464646;
  --secondary-blue-grey:#0a1e30;
  --secondary-blue-grey:#e77620;
  --secondary-grey:#787878;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Hind', sans-serif;

}